<!-- Start Testimonial Slider -->
@model HomeViewModel

<!-- Start Testimonial Slider -->
<div class="testimonial-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 mx-auto text-center">
				<h2 class="section-title">Testimonials</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="testimonial-slider-wrap text-center">



					<div class="testimonial-slider">





						@foreach (var item in Model.testiMonials)
						{





							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">

										<h2> @item.id </h2>
										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p> @item.Description</p>
											</blockquote>

											<div style="margin:50px" class="author-info">
												<div class="author-pic">
													<img src="@item.ImgUrl" alt="@item.Name" class="img-fluid">
												</div>
												<h3 class="font-weight-bold"></h3>
												<span class="position d-block mb-3">@item.Status</span>
											</div>
											<span class="icon-cross">
												<a class="btn btn-primary" asp-controller="TestMonial" asp-action="update" asp-route-id="@item.id">Edit</a>
											</span>
											<span class="icon-cross">
												<a class="btn btn-primary" style="color:red" asp-controller="About" asp-action="delete" asp-route-id="@item.id">Delete</a>
											</span>
											<hr style=" color: red;">
										</div>

									</div>
								</div>
							</div>

						}


						<!-- END item -->


					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Testimonial Slider -->