@model List<Blog>
<!-- Start Hero Section -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Blog</h1>
					<p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
					<p><a href="#" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="hero-img-wrap">
					<img src=" " class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->
<!-- Start Blog Section -->
<div class="blog-section">
	<div class="container">

		<div class="row">

			@foreach (var item in Model)
			{

				<div class="col-12 col-sm-6 col-md-4 mb-5">
					<div class="post-entry">
						<a href="#" class="post-thumbnail"><img src="@item.ImgUrl" alt="Image" class="img-fluid"></a>
						<div class="post-content-entry">
							<h3><a href="#">@item.Description</a></h3>
							<div class="meta">
								<span>by <a href="#"> @item.By</a></span> <span>on <a href="#">Dec 12, 2021</a></span>
							</div>
							<span class="icon-cross">
								<a class="btn btn-primary" asp-controller="Blog" asp-action="update" asp-route-id="@item.id">Edit</a>
							</span>
							<span class="icon-cross">
								<a class="btn btn-primary" asp-controller="Blog" asp-action="delete" asp-route-id="@item.id">Delete</a>
							</span>


						</div>
					</div>
				</div>
			    

			 
				 

			}



		</div>
	</div>
</div>
<!-- End Blog Section -->
 